/* Created with svgif (github.com/arnoson/svgif): a web based editor to animate svgs like gifs */

.svgif[data-svgif-state='paused'] .svgif-frame {
  animation-play-state: paused;
}

.svgif-frame {
  visibility: hidden;
  animation: var(--animation) var(--animation-duration) linear var(--delay)
    var(--animation-iteration-count);
}
