.svgif-frame {
  visibility: hidden;
  animation: var(--animation) var(--animation-duration) linear var(--delay)
    var(--animation-iteration-count);
}

.svgif:not([data-loop]) .svgif-frame:last-child {
  animation-name: svgif-frame-last;
  animation-fill-mode: forwards;
}

@keyframes svgif-frame-last {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
